p{
    font-family: Arial;
}
.usd-full{
    font-size: 25px;
}
.usd-detail{
    font-size: 15px;
    color:  rgb(96, 96, 96);
}
.price-today{
    color: green;
}
.after-hours-price{
    color: rgb(96, 96, 96);
}
.after-hours-percentage{
    color:  rgb(227, 65, 64);
}