.div-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.p-home{
    width: 100px;
    margin-left: 20px;
}
.i-search{
    width: 500px;
    border: none;
    border-radius: 20px;
}
.button-download{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 200px;
    cursor: pointer;
}
.div-flex,
.button-download{
    background-color: rgb(185, 99, 185);
}
.p-home,
.button-download{
    color: white;
}

.i-search,
.button-download{
    margin-top: 10px;
    margin-bottom: 10px;
}
.p-home,
.i-search,
.button-download{
    font-family: Roboto;
}