.main-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div-1{
    background-color: lightblue;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100px;
}
.div-2{
    background-color: lightpink;
    flex: 1;
    width: 200px;
}
.p-item1{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: end;
}