.stretch-button{
    background-color: green;
    color: white;
    font-size: 15px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    transition:  padding-top 0.3s,
    padding-bottom 0.3s,
    padding-left 0.3s,
    padding-right 0.3s;

}
.stretch-button:hover{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}